:root
  --fg: black
  --bg: white

*, *::after, *::before
  box-sizing: border-box

body
  background: var(--bg)
  color: var(--fg)
  display: grid
  place-items: center
  font-family: $font-family
  height: 100vh
