$border: 2px solid var(--fg)
$board-size: 95vmin
$board-bg: lighten(#00cc60, 45%)

:root
  --fg: black
  --bg: white


*, *::after, *::before
  box-sizing: border-box

body
  background: var(--bg)
  color: var(--fg)
  display: grid
  place-items: center
  height: 100vh

.board
  height: $board-size
  width: $board-size
  margin: 0 auto
  border: $border
  background: $board-bg

.board-fields, .board-row, .board-center
  display: grid

.board-fields
  grid-template-rows: 2fr 9fr 2fr
  height: 100%

.board-row
  grid-template-columns: 2fr repeat(9, 1fr) 2fr

  .field
    border-right: $border

  &.south
    .field
      border-top: $border

.field
  overflow: hidden

  &.is-property
    .content
      display: flex
      flex-direction: column
      align-items: center

    .title
      flex: 1

.north
  .field
    border-bottom: $border

    .property-color
      border-top: $border
      grid-row: 2

    &.is-property
      .content
        transform: rotate(180deg)

      .title
        flex: 1

      .field-content
        grid-template-rows: 8fr 2fr

  .field-content
    height: 100%

.south, .north
  .field
    &:last-child
      border-right: 0

.board-center
  grid-template-columns: 2fr 9fr 2fr

.board-column
  display: grid
  grid-template-rows: repeat(9, 1fr)
  height: 100%

  .field
    &:not(:last-child)
      border-bottom: $border

    &:not(.is-property)
      .content
        height: 100%
        display: flex
        align-items: center

  &.east
    .field
      border-right: $border
      .field-content
        height: 100%
        grid-template-columns: 8fr 2fr
        grid-template-rows: initial

      .title
        flex: 1

      .title, .index
        writing-mode: vertical-rl

      .property-color
        border-left: $border
        grid-column: 2

      &.is-property .content
        padding: 0 .25rem
        display: flex
        justify-content: center
        grid-column: 1
        grid-row: 1
        align-items: center
        flex-direction: row-reverse

      .index

.west
  .field
    &.is-property
      .field-content
        grid-template-rows: 1fr
        grid-template-columns: 2fr 8fr
        height: 100%

      .content
        writing-mode: vertical-rl
        transform: rotate(180deg)
        padding: 0 .25rem

  .property-color
    border-right: $border

.board-middle
  position: relative
  border-right: $border

.game-title
  display: block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%) rotate(-45deg)
  font-size: calc(#{$board-size} * 1.412 / 11)
  text-transform: uppercase

.field
  position: relative

  &.is-property
    .field-content
      display: grid
      grid-template-rows: 2fr 8fr

    .content
      position: relative

  &.is-wide

  .property-color
    background: var(--property-color)

  .title

